.field {
    text-align: left;
    padding: 0 0 1.2rem;
    width: 100%;
    font-weight: 600;
    position: relative;
    --error-red: #a60000;
}

.input {
    font-size: 0.9rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
    width: 100%;
    border-radius: 0.3rem;
    border: 0.1rem solid var(--blue-card-border);
    outline: none;
}

.input:focus {
    border: 0.1rem solid var(--blue);
}

.error_container {
    display: none;
    position: absolute;
    bottom: 0.3rem;
    width: 100%;
}

.error {
    font-size: 0.8rem;
    color: var(--error-red);
}

.error_container.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
