
.card_container {
    width: fit-content;
    margin: 1rem 0.5rem;
    /* COLORS */
    background-color: var(--blue-card-back);
    border: var(--card-border);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem 1rem 0.8rem;
    --padding-form: 0.8rem;
}

.form {
    padding: var(--padding-form);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.button_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    width: 100%;
    margin: 0.6rem 0 0;
}

.button {
    width: 100%;
}

.form_bank_wrap {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_bank {
    text-align: left;
    margin-bottom: 1rem;
}

.form_bank_message {
    color: var(--blue-card-text);
    font-size: 1.1rem;
    font-weight: 600;
}

.form_bank h3 {
    text-align: center;
}

.result_list {
    padding: var(--padding-form);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 16rem;
}

.result_wrap {
    justify-self: flex-end;
}

.result_title {
    padding: 0.4rem 0;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--blue-card-text-hover);
}

.result {
    font-size: 1.4rem;
    padding: 0.3rem;
    min-height: 2.7rem;
    width: 100%;
    background-color: var(--white);
    border: 0.13rem solid var(--blue);
    border-radius: 0.3rem;
    margin: 0.5rem 0 0;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 700px) {
    .card_container {
        flex-direction: column;
    }

    .result_wrap {
        width: 100%;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .card_container {

    }
}

@media screen and (max-width: 300px) {
    .card_container {
        width: 12rem;
    }

    .form {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 200px) {
    .card_container {
        width: 8rem;
    }

    .form {
        padding: 1rem;
    }
}
