
.card_container {
    width: fit-content;
    margin: 1rem 0.5rem;
    /* COLORS */
    background-color: var(--blue-card-back);
    border: var(--card-border);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    width: fit-content;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.button_wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    width: 100%;
    padding: 1.2rem 0 0.4rem;
}

.result_wrap {
    align-self: flex-start;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.result_title {
    padding: 0.4rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.result {
    font-size: 1.4rem;
    padding: 0.3rem;
    min-height: 2.7rem;
    width: 10rem;
    background-color: var(--white);
    border: 0.13rem solid var(--blue-card-border);
    border-radius: 0.3rem;
    margin: 1rem 0 0;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 700px) {
    .card_container {
        flex-direction: column;
    }

    .result_wrap {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .card_container {

    }
}

@media screen and (max-width: 300px) {
    .card_container {
        width: 12rem;
    }

    .form {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 200px) {
    .card_container {
        width: 8rem;
    }

    .form {
        padding: 1rem;
    }
}
