.card_list {
    /*display: flex;*/
    /*flex-direction: column;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
}

:root {
    --card-border-width: 0.15rem;
    /* BLUE */
    --blue-card-border: #b3c8e3;
    --blue-card-back: #e9f1f7;
    --blue-card-border-hover: #3286f0;
    --blue-card-back-hover: #e8f2ff;
    --blue-card-text: #607999;
    --blue-card-text-hover: #1a66c7;
    --card-border: var(--card-border-width) solid var(--blue-card-border);
}

.card {
    width: 20rem;
    padding: 0.6rem 1.3rem 1rem;
    margin: 0.5rem  0.8rem;
    text-align: left;
    /* DISPLAY */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* COLORS */
    background-color: var(--blue-card-back);
    border: var(--card-border);
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.card:hover {
    cursor: pointer;
    background-color: var(--blue-card-back-hover);
    border: var(--card-border-width) solid var(--blue-card-border-hover);
}

/* BANK NAME */
.card_title {
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--blue-card-text-hover);
    padding: 0.2rem 0;
    word-break: break-word;
    max-width: 80%;
}

/* USER OPTIONS ON HOVER */
.options {
    --delete-offset: 1rem;
    position: absolute;
    top: var(--delete-offset);
    right: var(--delete-offset);
    display: none;
}

.card:hover .options {
    display: flex;
    flex-direction: row;
}

.mobile .options {
    display: flex;
    flex-direction: row;
}

.option {
    padding: 0.3rem;
    color: var(--blue-card-text);
}

.option:hover {
    color: var(--blue-card-text-hover);
}

/* LIST OF INFORMATION ABOUT BANK */
.field_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field {
    padding: 0.2rem 0.4rem;
    display: flex;
    flex-wrap: wrap;
}

.key,
.value {
    padding: 0 0.2rem;
}

.key {
    font-size: 0.98rem;
    font-weight: 600;
}

.value {
    font-size: 0.96rem;
    font-weight: 500;
    color: var(--blue-card-text);
}

.card:hover .value {
    color: var(--blue-card-text-hover);
}

.button {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    font-size: 2.4rem;
    font-weight: 300;
    border-radius: 50%;
    transition: all 0.4s ease;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--blue);
    height: 3.5rem;
    width: 3.5rem;
    display: grid;
    place-content: center;
}

.button_icon {
    transform: scale(1);
}

.button:hover {
    cursor: pointer;
    color: var(--gray-light);
    background-color: #306fcf;
    box-shadow: 0.2em 0.2em 0.3em var(--gray-dark);
}


@media screen and (max-width: 1000px) {
    .card_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .button {
        right: 2.5rem;
    }
}

@media screen and (max-width: 700px) {
    .card_list {
        display: flex;
        flex-direction: column;
    }

    .button {
        right: 1.5rem;
        bottom: 2rem;
    }
}


@media screen and (max-width: 400px) {
    .card {
        width: 19rem;
    }
}

@media screen and (max-width: 300px) {
    .card {
        width: 15rem;
    }
}

@media screen and (max-width: 230px) {
    .card {
        width: 11rem;
    }
}
